<div class="wrapper">
  <div class="homeLogo">
    <img src="../../../../assets/auto2.png" alt="auto" />
    <p>AutoScience</p>
  </div>
  <div class="homeInfo">
    <a routerLink="/main" routerLinkActive="active">
      <div class="homeInfoLogo"></div>
      <div class="homeInfoQuote">
        «Некоторые люди хорошо заботятся о машине, другие относятся к ней как к
        члену семьи»
      </div>
      <div class="homeInfoDescription">
        На этом сайте можно узнать о конструктивных особенностях и
        технологических инновациях современных автомобилей
      </div>
      <div class="homeInfoArrow"></div>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
