<div class="wrapper">
  <div class="nav">
    <!-- <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="goHome()">goHome</button> -->
    <a routerLink="/home" routerLinkActive="active" class="navLogo"></a>
    <div class="navRight">
      <a routerLink="admin" routerLinkActive="active" class="navLogin"></a>
      <p>Юзер</p>
      <a class="navMenu"></a>
    </div>
  </div>
  <!-- <app-header></app-header> -->

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
